.aboutParent {
  color: white;
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--defaultPadding);
}

.aboutSection {
  background: var(--bgcolor1);
  background: var(--bggradient);
  background-clip: text;
  color: #35bcbf;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutContext {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  padding: 20px 30px;
  border: #91c6c6 solid 1px;
  border-radius: 20px;
  background-color: #41506b;
}

@media (width <=1250px) {
  .aboutContext {
    font-size: 1.3rem;
    padding: 18px 27px;
  }
}

@media (height <=900px) and (orientation: landscape) {
  .aboutParent {
    margin-top: 50px;
  }
}

@media (width <=800px) {
  .aboutContext {
    font-size: 1.15rem;
    padding: 16px 24px;
  }
}

@media (width <=650px) {
  .aboutParent{
    margin-top: 50px;
  }
  .aboutContext {
    font-size: 1.05rem;
    padding: 14px 21px;
  }
}

@media (width <=350px) {
  .aboutContext {
    font-size: 0.7rem;
    padding: 6px 9px;
  }
}

