.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 200px;
}

.hi{
    font-size: 90px;
}

.iAmK{
    font-size: 85px;
    text-align: center;
}

.myTags{
    margin-top: 20px;
    font-size: 32px;
    display: flex;
    flex-direction: row;
}

.tags{
    margin-right: 10px;
}