.navbar{
    height: 40px;
    background-color: #b2cccc;
    padding: 10px 1.5%;
    position: sticky;
    top: 0px;
    z-index: 100;
    box-shadow: 0px 10px 50px 0px #b2cccc35;
}

.kalpeshLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 170px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}